{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}
<font face="courier"  size="5" >
    <u>For the Academic year 2021-22</u></font>
<center><font face="courier" color='brown' size="5" >
<h3><b>Solution Tutorials is looking for qualified and experienced online tutors for <br><br>All subjects,
All levels and all classes including Maths, Science, Physics, Chemistry,<br><br> Biology, Botany, Zoology,
    Commerce, English, Arts, Computer Science,<br><br> Business Studies, Accountancy, Economics and Hindi.
</h3></font>
<br><br><font face="courier" color='gray' size="5" ><h3><b>The Remuneration for 1 to 1 classes varies from
        Rs. 250 to Rs.2000 per hour depending upon class level,<br>exam level, subject, course taught and experience of the tutor.</h3>
</h3>
    </font>
</center>
{% endblock body %}