{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}

<div class="container-fluid my-4 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <center><img src="/static/ps5.jpeg"  width=200 height=200 class="d-block w-20"  alt="..."><br>
          Founder Director</center>
      </div>
    <div class="carousel-item">
      <center><img src="/static/ps6.jpeg" width=200 height=300 class="d-block w-20" alt="..."><br>
      At Mumbai Seminar<br><div class="carousel-caption d-none d-md-block">
      </div></center>
    </div>
    <div class="carousel-item">
      <center><img src="/static/ps4.jpeg" width=300 height=300 class="d-block w-20" alt="..."><br>
      Coordinator, At Workshop</center>
         <h5>Welcome to the World of Learning...</h5>
    </div>
  </div>
</div>
</div>
{% endblock body %}