{%extends 'base.html'%}
{%block title%}
This is first title
{% endblock title%}
{% block body%}

<div class="container-fluid my-4 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="/static/pic2.jpeg" width=500 height=200 class="d-block w-20" alt="..."><br>
          Campus</center>
      </div>
    <div class="carousel-item">
      <center><img src="/static/b2.jpeg" width=500 height=200 class="d-block w-20" alt="..."><br>
      Workshop<br><div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the World of Learning...</h5>
      </div></center>
    </div>
    <div class="carousel-item">
      <center><img src="/static/b1.jpeg" width=500 height=200 class="d-block w-20" alt="..."><br>
      Seminar</center>
    </div>

  </div>
</div>
</div>
<font face="courier" color='red' size="5" >
  <h2> <b><u><blink>WHY !!! THIS INSTITUION ?</blink></u></b></h2></font>
<font face="courier" color='green' size="5" >

<marquee><h3></h3><b> HIGHLY EXPERIENCED BRANDED TEACHERS-STRONG EDUCATIONAL BACKGROUND OF TEACHERS-VERY HIGH QUALITY TEACHERS AT LOW RATE-BETTER PRESENTATION AND BETTER LECTURE DELIVERY-1 TO 1 LIVE CLASSES WITH PERSONLISED TUITION TEACHER-COMFORT AND SAFETY</b></h3> </marquee>
</font>
  <font face="courier" color='blue' size="5">
<h5>
  <ul>
<b>
<li>TUITION FOR ALL SUBJECTS UNDER ONE ROOF FOR ALL CLASSES AND ALL BOARDS<br><br>
<li> EASY ACCESS TO RENOWNED FACULTIES<br><br>
<li>ANY TIME ANY WHERE LEARNING<br><br>
<li> MONITORING OF LIVE CLASSES BY PARENTS AND FOR BETTER FEEDBACK<br><br>
<li> DEDICATED SUPPORT TEAM<br><br>
<li>FREE TRIAL CLASSES<br><br>
<li> BETTER RESULTS<br><br>{{Pay}}
</b>
</ul>
</h5></font>
<!--<hr color="red">
<img src="/static/b2.jpeg" width=100 height=100 class="d-block w-20" alt="...">Advts...<br>
<img src="/static/b1.jpeg" width=100 height=100 class="d-block w-20" alt="...">Advts...<br>
<img src="/static/b2.jpeg" width=100 height=100 class="d-block w-20" alt="...">Advts...-->


{% endblock body %}
<!-- <div class="embed-responsive embed-responsive-1by1">
  <iframe width="100" height="100" class="embed-responsive-item" src="https://www.youtube.com/embed/V5YcLIc3b-c" ></iframe>
</div>-->