{%extends 'base.html'%}
{%block title%}
This is cbse title
{% endblock title%}
{% block body%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Material page</title>
</head>
<body>
<h1>Follow the given links to get study materials :</h1><br><br><b>
1. <a href="http://ncert.nic.in/textbook.php" >NCERT</a><br><br>
2. <a href="https://www.cbse.nic.in/ecbse/" >CBSE</a><br><br>
    3. <a href="https://www.cisce.org/downloads.aspx" >ICSE</a></b>

</body>
</html>
{% endblock body%}