<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
</head>
<body>
<form action="" method="post" novalidate>
      {% csrf_token %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
    <p>{{error}}</p>
{% endfor %}
{% endif %}
{% for fm in form %}
{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
{% endfor %}
<!--{{form.as_p}}-->>

<input type="submit" value="Login">
</form>
<a href="{% url 'sign_up' %}">Sign Up </a>
</body>
</html>